#customize-controls .control-section-craftblog .accordion-section-title:hover,
#customize-controls .control-section-craftblog .accordion-section-title:focus {
	background-color: #fff;
}

.rtl .control-section-craftblog .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

.control-section-craftblog .accordion-section-title {
  min-height: 30px;
}

.control-section-craftblog .accordion-section-title .button {
  font-weight: 700;
  margin-left: 8px;
  border-color: #ff0202;
  background-color: #ff0202;
  color: #fff;
}

.control-section-craftblog .accordion-section-title .button:hover {
  background-color: #ff0202;
  border-color: #ff0202;
}

#accordion-section-craftblog .accordion-section-title:before{
    content: '';
}

.customize-control-craft-blog-upgrade-text{
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 10px;
}

.customize-control-craft-blog-upgrade-text label{
    padding: 0 0 0 26px;
    display: block;
}

.customize-control-craft-blog-upgrade-text .dashicons{
    float: left;
    margin-left: -26px;
}

.customize-control-craft-blog-upgrade-text ul{
    margin: 8px 0 0 16px;
    font-style: italic;
}

.customize-control-craft-blog-upgrade-text ul li{
    margin-bottom: 3px;
    padding-left: 8px;
    line-height: 1.3;
}

.customize-control-craft-blog-upgrade-text ul li:before{
    content: '- ';
    margin-left: -8px;
}