/*!
Theme Name: Craft Blog
Theme URI: http://sparklewpthemes.com/wordpress-themes/craftblog/
Author: sparklewpthemes
Author URI: http://sparklewpthemes.com/
Description: Craft Blog is a clean, sleek modern, stylish and beautiful free WordPress blog theme, Craft Blog perfect for lifestyle & travel bloggers, style guides, personal blogging, journal, music band & singers, photographers, writers, fashion designer, interior designers, wedding, eCommerce and more. Craft Blog is a modern theme with elegant design and is completely built on Customizer which allows you to customize theme settings easily with live previews. Craft Blog fully responsive, cross-browser compatible, translation ready and search engine optimized ( SEO ) friendly clean and modern design theme.
Version: 1.0.7
Tested up to: 6.2
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: craft-blog
Tags: blog, news, one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, post-formats, sticky-post, translation-ready, featured-images, theme-options

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Craft Blog is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
    /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
    /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

address {
    margin: 0 0 15px;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li>ul,
li>ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

figure {
    padding: 5px;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

blockquote {
    margin: 0 0 30px;
    font-size: 20px;
    font-size: 2rem;
    font-style: italic;
    border: 0;
    padding: 30px;
    font-weight: 300;
    position: relative;
    background: #e87477;
    color: #fff;
}

.articlesListing .article blockquote p {
    color: #fff;
}

blockquote::before,
q::before {
    content: "“";
    top: 8px;
    left: 0;
    font-size: 6rem;
    position: absolute;
}

blockquote:after,
q:after {
    content: "”";
    top: 22px;
    right: 0;
    font-size: 6rem;
    position: absolute;
    margin-left: 20px;

}

blockquote,
q {
    quotes: "" "";
    position: relative;
}

blockquote cite {
    display: block;
    font-weight: 300;
    font-size: 16px;
    margin-top: 20px;
}

blockquote cite::before {
    content: "-";
    margin-right: 10px;
}

/*--------------------------------------------------------------
Forms
--------------------------------------------------------------*/

button,
input,
select,
textarea {
    font-size: 100%;
    /* Corrects font size not being inherited in all browsers */
    margin: 0;
    /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: middle;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    font-size: 14px;
    line-height: 13px;
    padding: 14px 25px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    text-shadow: none;
    border: 1px solid #e1e1e1;
    background: #e74c3c;
    color: #fff;
    border-color: #e74c3c;
    border-radius: 25px;
}

button,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    color: #e74c3c;
    border-color: #e74c3c;
    background: none;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    color: #666;
    border: 1px solid #ccc;
    height: 36px;
    width: 100%;
    -webkit-appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    border: 1px solid #AAA;
}

.searchform input[type="text"]:focus {
    border: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 3px 6px;
    border-radius: 6px;
}

textarea {
    overflow: auto;
    /* Removes default vertical scrollbar in IE6/7/8/9 */
    padding-left: 3px;
    vertical-align: top;
    /* Improves readability and alignment in all browsers */
    color: #666;
    border: 1px solid #ccc;
    height: 160px;
    max-width: 100%;
    width: 100%;
}


/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #000;
}

a:visited {
    color: #000;
}

a:hover,
a:focus,
a:active {
    color: #000;
}

a:focus {
    outline: none;
}

a:hover,
a:active {
    outline: 0;
}

.entry-content a {
    color: #e74c3c;
}

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
.is-sticky .navbar {
    z-index: 999;
}

.owl-carousel {
    margin-top: 30px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    text-align: center;
    background: #fff;
    border-color: transparent;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
    background-color: #fff;
    width: 210px;
    text-align: left;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 208px;
    font-size: 13px;
    line-height: 45px;
    letter-spacing: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(0, 0, 0, 0.05);
    display: block;
    padding: 0px 15px;
    margin: 0;
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
    left: auto;
}

.main-navigation ul ul li.menu-item-has-children>a:after {
    font-family: FontAwesome;
    content: "\f105";
    float: right;
}

.main-navigation li {
    position: relative;
    display: inline-block;
    list-style: none;
}

.nav-menu>li:after {
    content: '';
    position: absolute;
    top: 0;
    right: -3px;
    bottom: 0;
    width: 5px;
    height: 5px;
    margin: auto 0;
    -ms-transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    background: #797979;
}

.nav-menu>li:last-child:after {
    content: none;
}

.main-navigation a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 1px;
    font-weight: 600;
    display: block;
    position: relative;
    padding: 0 17px;
    margin-left: 5px;
    color: #000;
    text-transform: uppercase;
}

.main-navigation .current-menu-item a,
.main-navigation a:hover {
    color: #e74c3c;
}

.nav-menu>li.current-menu-item:after {
    background: #e74c3c;
}

.current-menu-item a {
    color: red;
}

.nav-menu>li:first-child>a {
    padding-left: 0px;
}

.nav-menu>li:last-child a {
    padding-right: 0px;
}

.nav-menu>li a:first-child {
    margin-left: 0;
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul.nav-menu {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget-area ul {
    margin: 0;
}

.widget-area ul li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 5px;
    line-height: 32px;
}

.widget-area .widget .widget-title {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: left;
    padding-left: 20px;
    background-color: #fafafa;
    border-left: 4px solid #4a4a4a;
    margin-top: 0;
    text-transform: uppercase;
    display: inline-block;
    color: #555555;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}

.widget_archive ul,
.widget_categories ul,
.widget_recent_entries ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_rss ul,
.widget_pages ul,
.widget_nav_menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0 20px;
}

.widget_archive li,
.widget_categories li,
.widget_recent_entries li,
.widget_meta li,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.widget_archive a,
.widget_categories a,
.widget_recent_entries a,
.widget_meta a,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li

/*, 
.widget_product_categories a*/
    {
    color: #333333;
    font-size: 16px;
    line-height: 32px;
    padding-left: 22px;
    position: relative;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.widget a:hover,
.widget a:hover::before,
.widget li:hover::before {
    color: #f93b2f;
}

.widget_archive a::before,
.widget_categories a::before,
.widget_recent_entries a::before,
.widget_meta a::before,
.widget_recent_comments li::before,
.widget_rss li:before,
.widget_pages li:before,
.widget_nav_menu li:before,
.widget_product_categories a:before {
    color: #333333;
    content: "\f187";
    font-family: "FontAwesome";
    font-size: 14px;
    left: 0;
    position: absolute;
    top: -8px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.widget_categories a::before {
    content: "\f07b";
    top: 0;
}

.widget_product_categories a::before {
    top: 0px;
}

.widget_archive a::before {
    top: 0;
}

.widget_recent_entries a::before {
    content: "\f101";
}

.widget_meta a::before,
.widget_nav_menu li:before {
    content: "\f138";
}

.widget_recent_comments li::before {
    content: "\f086";
    top: 0;
}

.widget_rss li::before {
    content: "\f09e";
    top: 0;
}

.widget_pages li:before {
    content: "\f1ea";
    top: 0;
}

.widget_recent_entries .post-date {
    color: #8f8f8f;
    display: block;
    font-size: 11px;
    margin-top: -5px;
    padding-left: 24px;
}

.widget_nav_menu li:before {
    top: 0;
}


/*--------------------------------------------------------------
# Sidebar Select
--------------------------------------------------------------*/

.widget select {
    width: 100%;
    height: 40px;
    font-size: 16px;
}

.widget_archive ul li,
.widget_categories ul li,
.widget_product_categories ul li {
    width: 100%;
    text-align: right;
    display: inline-block;
}

.widget_archive ul li a,
.widget_categories ul li a,
.widget_product_categories ul li a {
    float: left;
}

.widget_categories ul li:last-of-type,
.widget_recent_comments ul li:last-of-type,
.widget_rss ul li:last-of-type,
.widget_recent_entries ul li:last-of-type,
.widget_pages ul li:last-of-type,
.widget_meta ul li:last-of-type,
.widget_nav_menu ul li:last-of-type,
.widget_archive ul li:last-of-type {
    border-bottom-width: 0;
}

.widget_tag_cloud .tagcloud {
    padding: 0 20px 20px;
}

/*--------------------------------------------------------------
# Sidebar Sub Menu
--------------------------------------------------------------*/

.widget_pages ul li .children li:last-child,
.widget_nav_menu ul li .sub-menu li:last-child,
.widget_product_categories ul li .children li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Sidebar Search
--------------------------------------------------------------*/
.widget_search .search-form,
.widget_product_search .woocommerce-product-search {
    position: relative;
    padding: 10px;
}

.widget_search .search-field::-webkit-input-placeholder,
.widget_search .search-form:-moz-placeholder,
.widget_search .search-form:-ms-input-placeholder,
.widget_product_search .search-field::-webkit-input-placeholder,
.widget_product_search .search-form:-moz-placeholder,
.widget_product_search .search-form:-ms-input-placeholder {
    color: #868686;
}

.widget_search .search-form>label,
.widget_product_search .search-form>label {
    margin: 0;
    width: 100%;
}

.widget_search .screen-reader-text,
.widget_product_search .screen-reader-text {
    display: none;
}

.widget_search .search-field,
.widget_product_search .search-field {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #333;
    display: inline-block;
    height: 47px;
    vertical-align: middle;
    width: 100%;
    padding: 0 10px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 0;
}

.widget_search .search-submit,
.widget_product_search input[type="submit"] {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 0;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    height: 47px;
    margin-left: 0;
    vertical-align: middle;
    transition: all 0.5s ease 0s;
    -webkit-transition: all ease 0.5s;
    border: none;
    color: #fff;
    background: #f93b2f;
    padding: 0 15px;
}

.widget_search .search-submit:hover,
.widget_product_search input[type="submit"]:hover {
    background: #000;
    color: #fff;
}

/*--------------------------------------------------------------
# Calender
--------------------------------------------------------------*/

.widget_calendar tbody td {
    text-align: center;
    color: #a8a7a7;
}

.widget_calendar caption {
    font-weight: 700;
}

.calendar_wrap caption {
    background: none repeat scroll 0 0 #f93b2f;
    color: #fff;
    line-height: 25px;
    text-align: center;
}

.calendar_wrap table {
    border-collapse: collapse;
    width: auto;
}

.calendar_wrap table th {
    border: 1px solid #ccc;
    font-weight: bold;
    padding: 8px 0px;
    text-align: center;
    width: 5%
}

.calendar_wrap table td {
    border: 1px solid #ccc;
    padding: 8px 0px;
    color: #000;
    width: 5%;
    text-align: center;
}

.calendar_wrap table td #prev,
.calendar_wrap table td#next {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar_wrap table td #next {
    text-align: right;
}


.textwidget {
    padding: 0 20px;
}

.textwidget ul,
.mailpoet_form_widget {
    padding: 0 10px;
}

#mailpoet_form_1 .mailpoet_text,
#mailpoet_form_1 .mailpoet_textarea {
    width: 100%;
}

/**
 * Footer Widget Area
 */

.footer-widgets {
    background: #0a0a0a;
    border-bottom: 1px solid #0a0a0a;
    padding: 40px 0;
}

.footer-widgets .widget {
    padding: 0 15px;
}

.footer-widgets .widget .widget-title {
    width: 100%;
    margin-top: 0;
    text-transform: uppercase;
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    border-bottom: 2px solid #313131;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 20px;
}

.footer-widgets .widget h2.widget-title:before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100px;
    border-bottom: 2px solid #f93b2f;
}

.footer-widgets .widget ul,
.widget_tag_cloud .tagcloud {
    padding: 0;
}


.footer-widgets .widget ul li {
    border-bottom: 1px dotted rgba(239, 239, 239, 0.1);
}

.footer-widgets .widget ul li,
.footer-widgets .widget ul li a,
.footer-widgets .widget a,
.footer-widgets .widget a::before,
.footer-widgets .calendar_wrap table td,
.footer-widgets .calendar_wrap table th {
    color: #fff;
}

.footer-widgets .widget a:hover,
.footer-widgets .widget a:hover::before,
.footer-widgets .widget li:hover::before {
    color: #f93b2f;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.widget-area,
.content-area {
    margin-top: 30px;
}

.sticky {
    display: block;
}

.post,
.page {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 0.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.entry-content .gallery a img {
    max-width: none;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}


.btn,
body,
body a {
    color: #000
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0
}

body {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: Lato, sans-serif;
    background: #f7f7f7;
    -webkit-font-smoothing: antialiased;
}

body a {
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

body a:active,
body a:focus,
body a:hover {
    outline: 0;
    text-decoration: none;
    color: #000
}

.btn span,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    display: block
}

.btn {
    padding: 8px 16px;
    border: 1px solid #000;
    border-radius: 25px;
    line-height: 1.5;
    background-clip: padding-box;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.btn span {
    font-size: 16px;
}

.btn.btn-primary {
    background: #e74c3c;
    color: #fff;
    border-color: #e74c3c
}

.btn.btn-primary:hover {
    background: 0 0;
    color: #e74c3c;
    border-color: #e74c3c
}

.btn.btn-primary.btn-black {
    color: #000;
    border-color: #000
}

.btn.btn-primary.btn-black:hover {
    color: #fff;
    border-color: #e74c3c
}

.info,
.info a {
    color: #b0b0b0
}

.btn.btn-lg {
    padding: 12px 25px;
    font-size: 16px;
    font-size: 1.6rem
}

.btn.btn-sm {
    padding: 5px 16px 4px;
    font-size: 14px;
    font-size: 1.4rem
}

.btn.btn-simple,
.btn.btn-simple span {
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
    -ms-transform: skew(0);
    -o-transform: skew(0)
}

input {
    outline: 0;
    border-radius: 0;
    background-clip: padding-box;
    -webkit-appearance: none
}

.input {
    border: 0;
    border-bottom: 1px solid #b0b0b0;
    padding: 8px 0;
    margin: 0 10px 0 0
}

textarea {
    resize: none;
    outline: 0
}

iframe {
    border: 0
}

label {
    font-weight: 400
}

/*--------------------------------------------------------------
## Web Page Layout
--------------------------------------------------------------*/
body.boxed {
    max-width: 1200px;
    margin: 0 auto;
}

body.boxed .site {
    /*    background: #fff none repeat scroll 0 0;*/
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    position: relative;
}

/*--------------------------------------------------------------
## Logo
--------------------------------------------------------------*/

.top-header {
    border-bottom: 1px solid transparent;
    border-bottom-color: #ced4da;
}

.top-header .main-navigation a {
    line-height: 45px;
    padding: 0 10px;
}

.top-header .menu>li>a:after {
    position: absolute;
    width: 8px;
    height: 8px;
    margin-left: 0;
    transform: translateX(-50%) rotate(-45deg);
    left: 50%;
    bottom: -4px;
    z-index: 1001;
    content: "";
    background: #f7f7f7;
    border-color: #adb5bd;
    box-shadow: 2px -2px 0 0px #fff, 3px -3px 0 0 #adb5bd;
    border: 1px solid #ccc;
    border-width: 1px 1px 0 0;
}

.main-header {
    height: 220px;
}

.logo-outer {
    display: table;
    width: 100%;
    height: 100%;
}

.logo-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.header-logo {
    display: inline-block;
}

.header-logo h1 {
    margin: 0;
    padding: 0;
}

.header-logo a {
    display: inline-block;
    font-family: 'Arizonia', cursive;
    line-height: 1;
    font-size: 125px;
    font-weight: 400;
    letter-spacing: 2px;
}

.site-description {
    display: inline-block;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
}

.title-tagline-shown .header-logo a:not(.logo-img),
.title-tagline-shown .site-description {
    display: block;
}

.title-tagline-hidden .header-logo a:not(.logo-img),
.title-tagline-hidden .site-description {
    display: none;
}

/*--------------------------------------------------------------
## Social Icons
--------------------------------------------------------------*/
.sociallink {
    float: right;
}

.sociallink ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
}

.sociallink ul li {
    display: inline-block;
    vertical-align: middle;
    line-height: 45px;
}

.sociallink ul li a {
    font-size: 14px;
    border-radius: 3px;
    line-height: 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid #000000;
    margin-right: 5px;
}

.sociallink ul li a:focus,
.sociallink ul li a:hover {
    background: #e74c3c;
    color: #fff;
    border: 1px solid #e74c3c;
}

/*--------------------------------------------------------------
 ## Main Banner Slider Carousel
--------------------------------------------------------------*/
.ol-slider .owl-item.active .ol-slider-panel {
    opacity: 1;
}

.ol-slider .owl-item.active .ol-caption {
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
}

.ol-slider .owl-nav {
    position: absolute;
    top: 50%;
    left: 120px;
    right: 120px;
    z-index: 10;
    margin: 0;
    transform: translateY(-50%);
    color: #000;
    pointer-events: none;
}

.ol-slider .owl-nav .owl-prev,
.ol-slider .owl-nav .owl-next {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 58px;
    pointer-events: auto;
}

.ol-slider .owl-nav .owl-prev {
    float: left;
}

.ol-slider .owl-nav .owl-next {
    float: right;
}

.ol-slider .ol-slider-panel {
    position: relative;
    opacity: 0.25;
    transition: all 0.5s;
}

.ol-slider .ol-img-holder {
    position: relative;
    z-index: 1;
}

.ol-slider .ol-caption {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(10%);
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    text-align: center;
    opacity: 0;
    transition: all 1s;
}

.ol-slider .ol-caption h2 {
    margin-bottom: 1rem;
    line-height: 1.1;
}

.ol-slider .ol-caption p {
    margin: 0;
}

.ol-caption .entry-meta div {
    display: inline-block;
    margin-right: 10px;
    font-weight: 300;
    color: #525252;
    padding: 5px 0 15px;
}

.ol-slider .ol-caption .post-date {
    font-size: 0.875rem;
    color: #868e96;
    font-weight: 700;
    margin-bottom: 2rem;
}


/*--------------------------------------------------------------
 ## Header Mani Navigation
--------------------------------------------------------------*/
.navbar .navigation {
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #080808;
}

/*--------------------------------------------------------------
 ## Page Header and Breadcrumbs
--------------------------------------------------------------*/
.custom-header {
    text-align: center;
    margin-bottom: 1.5em;
    position: relative;
    background: #222222;
    padding: 30px 0;
}

.custom-header .entry-title,
.custom-header .page-title {
    font-size: 36px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
}

.taxonomy-description {
    max-width: 700px;
    text-align: center;
    display: inline-block;
    color: #fff;
    margin-top: 5px;
}

.breadcrumbs .trail-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs .trail-items li {
    display: inline-block;
    margin: 0 10px;
    color: #fafafa;
}

.breadcrumbs .trail-items li a {
    color: #e74c3c;
}

.breadcrumbs .trail-items {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.breadcrumbs .trail-items li::after {
    content: "\f101";
    position: relative;
    right: -10px;
    font-size: 14px;
    font-family: FontAwesome;
}

.breadcrumbs .trail-items li:last-child:after {
    display: none;
}


.page-header {
    padding-bottom: 9px;
    margin: 0 0 10px;
    border-bottom: 0;
    background: #fff;
    padding: 1px 10px 10px;
}

.page-header span {
    background: #e74c3c;
    padding: 2px 10px;
    color: #fff;
    text-transform: capitalize;
}

/*--------------------------------------------------------------
 ## Header Banner Slider Posts
--------------------------------------------------------------*/

.mainCarousel.mainCarousel-1 .lightSlider .owl-item,
.mainCarousel.mainCarousel-2 .lightSlider .owl-item {
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    -ms-transition: opacity .4s ease;
    -o-transition: opacity .4s ease
}


/*--------------------------------------------------------------
 ## Articles Listing
--------------------------------------------------------------*/

.articlesListing .article .image {
    position: relative;
    overflow: hidden;
}

.articlesListing .article .image .post-thumbnail img,
.craft_relatedpost_widget .left_box img {
    transition: all ease 0.6s;
    -webkit-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
}

.archive .postgallery-carousel img,
.archive .articlesListing .article .image .post-thumbnail img {
    width: 100%;
}

.articlesListing .article .image .post-thumbnail img:hover,
.craft_relatedpost_widget .left_box img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.articlesListing .article {
    margin-bottom: 30px
}

.articlesListing .article .box {
    padding: 25px
}

.box {
    border: 1px solid #f0f0f0;
    border-top: 0;
    box-shadow: 0 1px 0 #f0f0f0;
    /*padding: 35px;*/
    background: #fff;
}

.articlesListing .article .audio,
.articlesListing .article .image,
.articlesListing .article .video {
    display: block;
    position: relative
}

.articlesListing .article .audio.quote,
.articlesListing .article .image.quote,
.articlesListing .article .video.quote {
    padding: 0
}

.articlesListing .article .audio.quote a,
.articlesListing .article .image.quote a,
.articlesListing .article .video.quote a {
    color: #fff
}

.articlesListing .article .audio.quote blockquote,
.articlesListing .article .image.quote blockquote,
.articlesListing .article .video.quote blockquote {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    padding: 0 30px
}

.articlesListing .article .audio.link:before,
.articlesListing .article .audio.quote:before,
.articlesListing .article .image.link:before,
.articlesListing .article .image.quote:before,
.articlesListing .article .video.link:before,
.articlesListing .article .video.quote:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0
}

.articlesListing .article .audio.link .text,
.articlesListing .article .image.link .text,
.articlesListing .article .video.link .text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    color: #fff;
    font-size: 32px;
    font-size: 3.2rem;
    font-weight: 300;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Slab', serif
}

.articlesListing .article .audio audio {
    width: 100%;
    position: absolute;
    bottom: 0
}

.articlesListing .article #googleMap {
    min-height: 500px
}

.articlesListing .article .quote {
    padding: 20px 0
}

.articlesListing .article .quote blockquote {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 32px;
    font-size: 3.2rem;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center
}

.articlesListing .article .quote blockquote span {
    position: relative
}

.articlesListing .article .quote blockquote span:after,
.articlesListing .article .quote blockquote span:before {
    font-weight: 700;
    font-size: 60px;
    font-size: 6rem;
    line-height: 42px
}

.articlesListing .article .quote blockquote span:before {
    content: '“';
    position: relative;
    top: -5px
}

.articlesListing .article .quote blockquote span:after {
    content: '”';
    position: absolute;
    bottom: -45px;
    right: -25px
}

.articlesListing .article .quote blockquote cite {
    margin: 40px 0 0;
    font-size: 18px;
    font-size: 1.8rem;
    display: block;
    font-family: 'Source Code Pro', sans-serif;
    font-style: normal
}

.articlesListing .article .quote blockquote cite:after,
.articlesListing .article .quote blockquote cite:before {
    content: '\\'
}

.articleComments h2:before,
.relatedArticles header h2:before {
    content: '\\\\';
    letter-spacing: -4px
}

.articlesListing .article .quote blockquote cite:before {
    margin: 0 20px 0 0
}

.articlesListing .article .quote blockquote cite:after {
    margin: 0 0 0 20px
}

.articlesListing .article .imageBackground {
    padding: 30px
}

.articlesListing .article .imageBackground .fb_iframe_widget,
.articlesListing .article .imageBackground iframe {
    margin: 0 auto !important
}

.articlesListing .article .customTweet {
    background: #63cdf1;
    color: #fff;
    padding: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 18px;
    font-size: 1.8rem
}

.articlesListing .article .customTweet .c {
    display: block
}

.articlesListing .article .customTweet a {
    color: #fff
}

.articlesListing .article .customTweet .text {
    font-size: 20px;
    font-size: 2rem;
    margin: 10px 0
}

.articlesListing .article .customTweet .info {
    text-align: left;
    color: #fff;
    font-size: 14px;
    font-size: 1.4rem
}

.articlesListing .article iframe {
    width: 100%
}

.articlesListing .article .title {
    font-size: 30px;
    font-size: 3rem;
    font-weight: 400;
    margin: 0 0 18px
}

.articlesListing .article .info {
    margin: 22px 0;
}

.articlesListing .article .info div {
    display: inline-block;
    margin-right: 10px;
    font-weight: 300;
    color: #525252;
}

.articlesListing .article .info div a,
.articlesListing .article .info div span {
    font-weight: 500;
}

.articlesListing .article p {
    font-size: 18px;
    font-size: 1.8rem;
    color: #3e3b3b;
    line-height: 26px;
}

.articlesListing .article .btns .btn {
    margin: 5px 9px
}

.articlesListing .article .btn {
    padding: 9px 25px
}

.articlesListing .article .footer {
    color: #b0b0b0;
    font-weight: 300;
    margin: 22px 0 0;
    padding: 20px 0 0;
    font-family: 'Source Code Pro', sans-serif;
    border-top: 1px solid #d7d7d7
}

.articlesListing .article .footer .moreInfo div span,
.articlesListing .articleDetail p {
    font-weight: 400
}

.articlesListing .article .footer a {
    color: #b0b0b0
}

.articlesListing .article .footer a:hover {
    color: #000
}

.articlesListing .article .footer .moreInfo {
    text-align: right
}

.articlesListing .article .footer .moreInfo div {
    display: inline-block;
    margin: 2px 4px
}

.articlesListing .article .footer .moreInfo div:last-child {
    margin-right: 0
}

.articlesListing .article .footer .moreInfo div:hover {
    color: #3e3b3b
}

.articlesListing .article .footer .moreInfo .dropdown-menu {
    border-radius: 0;
    background-clip: padding-box;
    min-width: 0;
    text-align: center
}

.articlesListing.masonryListing .article #googleMap {
    min-height: 334px
}

.articlesListing.masonryListing .article .image.link .text {
    font-size: 22px;
    font-size: 2.2rem
}

.articlesListing.masonryListing .article .title {
    font-size: 30px;
    font-size: 3rem
}

.articlesListing.masonryListing .article p {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px
}

.article .title {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.article .title:hover a {
    color: #e74c3c;
}

/*--------------------------------------------------------------
 ## Quote Post Format
--------------------------------------------------------------*/
.post-format-media--quote {
    background: #e87477;
    padding: 20px;
    color: #fff;
}

.articlesListing .article .post-format-media--quote p {
    color: #fff;
    font-weight: 500;
    margin-top: 0;
    text-align: justify;
}


/*--------------------------------------------------------------
 ## Gallery Post Format
--------------------------------------------------------------*/
.pagewrap {
    overflow: hidden
}

.lSAction>.lSPrev {
    background-position: 0 0;
    left: 10px;
    position: absolute;
    width: 56px;
    height: 56px;
    line-height: 52px;
    background: #343434;
    color: #fff;
    margin-top: -25px;
    left: -60px;
    font-size: 44px;
    font-size: 4.4rem;
    text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.lSAction>.lSNext {
    background-position: -32px 0;
    right: 10px;
    position: absolute;
    width: 56px;
    height: 56px;
    line-height: 52px;
    background: #343434;
    color: #fff;
    margin-top: -25px;
    right: -60px;
    font-size: 44px;
    font-size: 4.4rem;
    text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.lSAction>a:hover {
    opacity: 1;
    background: #e74c3c;
    color: #fff;
}

.lSSlideWrapper:hover .lSAction>.lSPrev {
    left: 30px;
}

.lSSlideWrapper:hover .lSAction>.lSNext {
    right: 30px;
}

/*--------------------------------------------------------------
 ## Blog List Post Format
--------------------------------------------------------------*/
.blog-post-wrapper {
    background-color: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    padding: 5px;
    position: relative;
    display: inline-block;
}

.blog-post-wrapper figure,
.blog-post-caption {
    float: left;
    width: 50%;
    display: block;
    position: relative;
    overflow: hidden;
}

.post-thumbnail .lSSlideOuter {
    width: 355px !important;
}

.list-nsidebar .post-thumbnail .lSSlideOuter {
    width: 560px !important;
}

.blog-post-caption {
    padding: 15px 10px;
}

.articlesListing.blog-grid .article .title,
.articlesListing .article.gridlist .title {
    font-size: 25px;
}

.articlesListing .article.gridlist .info {
    margin: 15px 0;
}

.articlesListing.blog-grid .article p,
.articlesListing .article.gridlist p {
    font-size: 16px;
    color: #3e3b3b;
}

.articlesListing.blog-grid .article .textright p {
    text-align: right;
}

.articlesListing.blog-grid .article .textleft p {
    text-align: left;
}

.articlesListing.blog-grid .article p:first-of-type:first-letter {
    float: left;
    margin: 6px 9px 0 -1px;
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    font-size: 60px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #030303;
}

/*--------------------------------------------------------------
 ## 2 Column Grid Blog Post Format
--------------------------------------------------------------*/
.blog-grid>li {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

[data-layout*="gridcol2"] .blog-grid-style {
    width: calc((100% - 15px) / 2 - 1px);
    width: -webkit-calc((100% - 15px) / 2 - 1px);
}


[data-layout*="masonry2"] .article {
    width: calc((100% - 15px) / 2 - 1px);
    width: -webkit-calc((100% - 15px) / 2 - 1px);
}


[data-layout*="gridcol2"] .blog-grid-style:nth-of-type(2n+2) {
    margin-right: 0;
}

.articlesListing.blog-grid .article .box {
    padding: 15px;
}

.articlesListing.blog-grid .article .info {
    margin: 15px 0;
}

/*--------------------------------------------------------------
 ## Pagination Type
--------------------------------------------------------------*/
.pagination {
    display: block;
    text-align: center;
}

.pagination {
    text-align: center;
    background: #fff;
    padding: 10px 0;
}

.page-numbers {
    display: inline-block;
    margin: 0 2px;
    padding: 10px 14px;
    line-height: 1;
    font-size: 16px;
}

.page-numbers.current {
    color: #f93b2f;
}

.page-numbers:hover {
    color: #f93b2f;
}

/*--------------------------------------------------------------
 ## Single Posts Page Author Details
--------------------------------------------------------------*/
.authorsListing .aboutAuthor {
    margin-bottom: 30px
}

.aboutAuthor {
    margin: 20px 0;
    background-size: auto 100%;
    padding: 0;
}

.aboutAuthor img {
    border-radius: 50%;
    padding: 5px;
    margin: 20px;
    border: 1px solid #e7e7e7;
    background: #fff;
}

.aboutAuthor .infos {
    padding: 30px 10px 30px 0;
}

.aboutAuthor .infos .name {
    font-size: 22px;
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: 15px;
    font-family: 'Roboto Slab', serif;
    text-transform: capitalize;
}

.aboutAuthor .infos .name a:hover {
    color: #f93b2f;
}

.aboutAuthor .infos .info {
    margin-bottom: 25px;
}

.aboutAuthor .infos .text {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Raleway, sans-serif;
    line-height: 22px;
    color: #3e3b3b;
    margin-bottom: 15px;
}

.aboutAuthor .infos .btns .btn {
    margin: 5px 0;
}

.aboutAuthor .infos .btns .btn:hover {
    background: #e74c3c;
    color: #fff;
    border-color: #e74c3c;
}

.aboutAuthor .infos .btns .btn.btn-color-full:hover {
    background: #e43725;
    border-color: #e43725;
}

.aboutAuthor:first-child {
    margin-top: 0;
}

/*--------------------------------------------------------------
 ## Single Posts Next & Previous
--------------------------------------------------------------*/
.prevNextArticle .title,
.relatedArticles header h2 {
    font-family: 'Roboto Slab', serif
}

.prevNextArticle {
    margin: 20px 0;
    text-align: center;
    padding: 20px 15px;
}

.prevNextArticle .hoverExtend.active {
    font-weight: bold;
    text-transform: capitalize;
}

.prevNextArticle .hoverExtend.active span {
    border-bottom: 2px dotted;
}

.prevNextArticle .title {
    margin-top: 15px;
    font-size: 16px;
}

.prevNextArticle a:hover {
    color: #e74c3c;
}

/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/

#comments {
    margin-top: 30px;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

#comments h2.comments-title {
    color: #333;
    display: inline-block;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin: 15px 0;
    padding: 8px 15px;
}

#comments h3 {
    margin: 0 0 10px;
    color: #141414;
    font-weight: 600;
    display: inline-block;
    line-height: 22px;
    font-size: 18px;
}

#commentform label {
    display: inline-block;
}

textarea#comment {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

.comment-form-cookies-consent label {
    margin-left: 14px;
}

/*--------------------------------------------------------------
Comment Lists
--------------------------------------------------------------*/
.comments-area ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comments-area ol.children {
    margin: 0 0 0 15px;
}

.comment-list .comment-body {
    padding: 20px;
    margin-bottom: 20px;
    background: none;
    border: 1px solid #e1e1e1;
    text-align: left;
}

.comment-author img {
    vertical-align: text-top;
    margin-right: 15px;
    border: 1px solid #e1e1e1;
    padding: 3px;
}

.comment-author {
    float: none;
}

.comment-metadata {
    font-size: 12px;
    margin-top: -12px;
    padding-left: 50px;
}

.comment-content {
    margin-top: 10px;
    padding-left: 50px;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Raleway, sans-serif;
    line-height: 22px;
    color: #3a3a3a;
}

.comment-author .fn {
    font-style: normal;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
}

.comment-author .fn .url {
    color: #333;
    padding: 0;
    font-size: 16px;
}

.comment-author .fn .url:hover {
    color: #e74c3c;
}

.comment-author .says {
    display: none;
}

.commentmetadata {
    float: right;
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
}

.comment-metadata a {
    color: #969696;
}

.commentmetadata .comment-edit-link {
    color: #e74c3c;
}

.commentmetadata+.clear {
    margin-bottom: 20px;
}

.reply .comment-reply-link {
    background: none repeat scroll 0 0 #e74c3c;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px;
    display: inline-block;
    border-radius: 25px;
}

#respond {
    padding: 20px;
    margin: 20px 0 0;
    color: #141414;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#commentform .form-submit {
    margin-bottom: 0;
}

#cancel-comment-reply-link {
    font-style: italic;
    color: #e74c3c;
}

#cancel-comment-reply-link:before {
    font-family: FontAwesome;
    content: "\f057";
    margin: 0 5px 0 20px;
    font-style: normal;
    color: #e74c3c;
}

.logged-in-as a {
    color: #e74c3c;
}


/*--------------------------------------------------------------
## 404 Page not Found
--------------------------------------------------------------*/
.not-found {
    text-align: center;
    padding: 50px 0;
}

.not-found .page-header {
    background: none;
}

.not-found .page-header h1 {
    color: #f93b2f;
    font-size: 120px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 15px;
    margin-top: 0;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.footer-copyright {
    background-color: #030303;
}

.footer-socials {
    text-align: center;
    padding: 15px 0px;
    background: #030303;
    border-bottom: 1px solid #3e3e3e;
}

.footer-socials a {
    display: inline-block;
    line-height: 27px;
    text-transform: uppercase;
    margin-right: 35px;
    color: #fff;
}

.footer-socials a:hover {
    color: #f93b2f
}

.footer-socials-icon {
    margin-right: 9px;
}

.footer-socials a:last-child {
    margin: 0;
}

.footer-logo a {
    display: inline-block;
    margin: 0 auto 30px;
}

.footer-copyright {
    overflow: hidden;
    padding: 60px 0 50px;
    text-align: center;
}

/*--------------------------------------------------------------
## Sub Copyright Footer
--------------------------------------------------------------*/
.copyright-info {
    margin-bottom: 20px;
    color: #fff;
    display: inline-block;
}

.copyright-info a {
    color: #ffffff;
}

.copyright-info a:hover {
    color: #f93b2f
}

.scrolltop {
    display: block;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #f93b2f;
}

.footer-copyright a:hover,
.scrolltop:hover {
    color: rgba(255, 19, 25, 0.8);
}

.scrolltop .fa-angle-up {
    position: relative;
    display: block;
    bottom: 2px;
    margin: 0 auto;
    font-size: 20px;
}


/**
 * Contact 7 Plugins defult css
*/
.widget div.wpcf7 {
    background-color: transparent;
    padding: 0;
}

div.wpcf7 {
    background-color: #f9f9f9;
    padding: 20px;
}

.wpcf7 label {
    display: block;
    margin-bottom: 15px;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="email"],
.wpcf7 input[type="url"],
.wpcf7 textarea,
.wpcf7 select {
    width: 100%;
    padding: 10px;
}

.wpcf7 input[type="submit"],
.wpcf7 input[type="button"] {
    background-color: #f93b2f;
    border: 1px solid #f93b2f;
    text-align: center;
    text-transform: uppercase;
    float: right;
    padding: 10px 20px;
}

.wpcf7 input[type="submit"]:hover,
.wpcf7 input[type="button"]:hover {
    background: transparent;
    border: 1px solid #f93b2f;
    color: #f93b2f;
}


/* * Owl Carousel - Core */
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}

.owl-carousel.owl-hidden {
    opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-drag .owl-item img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab;
}

.owl-carousel.owl-rtl {
    direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
    float: right;
}

/* No Js */
.no-js .owl-carousel {
    display: block;
}

/* * Owl Carousel - Animate Plugin */
.owl-carousel .animated {
    animation-duration: 1000ms;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* * Owl Carousel - Auto Height Plugin */
.owl-height {
    transition: height 500ms ease-in-out;
}

/* * Owl Carousel - Lazy Load Plugin */
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
}

/* * Owl Carousel - Video Plugin */
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
    transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

/* * Default theme - Owl Carousel CSS File */
.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    background: #fff !important;
    font-size: 32px !important;
    margin: 0;
    padding: 0;
    display: inline-block;
    cursor: pointer;
    border-radius: 0;
    transition: all 0.2s;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    color: #FFF;
    text-decoration: none;
    background: #e75926 !important;
}

.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}


span.sub-toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    color: #212121;
    line-height: 42px;
    z-index: 99;
    cursor: pointer;
}

.toptoggle {
    display: none;
}


@media (max-width: 992px) {

    .top-header .menu>li>a:after {
        background: none;
        box-shadow: none;
        border-width: 0;
    }

    .blog-post-wrapper figure,
    .blog-post-caption {
        float: none;
        width: 100%;
    }

    .articlesListing .article .image .post-thumbnail img,
    .craft_relatedpost_widget .left_box img {
        transition: all ease 0.6s;
        -webkit-transition: all ease 0.6s;
        -ms-transition: all ease 0.6s;
        width: 100%;
    }
}

@media (max-width: 810px) {

    .ol-slider .ol-caption h2 {
        font-size: 20px;
    }

    .ol-slider .ol-caption {
        bottom: 0;
        padding: 0 0 25px 0;
    }

    .ol-caption .entry-meta div {
        padding: 5px 0 5px;
        line-height: 0;
    }

    .ol-slider .owl-item .ol-slider-panel {
        opacity: 1;
    }

    .ol-slider .owl-item.active .ol-caption {
        opacity: 0;
    }

    .ol-slider .owl-item.center .ol-slider-panel {
        opacity: 1;
    }

    .ol-slider .owl-item.center .ol-caption {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .aboutAuthor .infos {
        padding: 10px;
    }

    .footer-socials a {
        margin-bottom: 20px;
    }

    .top-header .main-navigation {
        text-align: center;
        margin-bottom: 20px;
    }

    .top-header .sociallink {
        float: none;
        text-align: center;
    }

    .ol-slider .owl-nav {
        left: 40px;
        right: 40px;
    }
}

@media (max-width: 600px) {
    .navbar {
        background: #000;
        z-index: 99;
    }

    .navbar .main-navigation {
        float: none;
        padding: 0;
    }

    span.sub-toggle {
        display: block;
    }

    .main-navigation ul {
        border: 1px solid #0c0c0c;
    }

    .main-navigation.toggled ul.nav-menu {
        margin: 10px 15px;
    }

    .main-navigation li {
        width: 100%;
        float: none;
    }

    .nav-menu>li:first-child a {
        padding-left: 17px;
    }

    .main-navigation a {
        color: #fff;
        line-height: 42px;
        border-bottom: 1px solid #1d1d1d;
        padding: 0 10px;
        text-align: left;
    }

    .nav-menu>li:after {
        content: none;
    }

    .main-navigation ul ul {
        background-color: #000;
        width: 100%;
        position: relative;
        left: 0;
    }

    .main-navigation ul ul ul {
        left: 0;
        top: 0;
    }

    .main-navigation ul ul li.menu-item-has-children>a:after {
        content: none;
    }

    .main-navigation ul ul li:hover>ul,
    .main-navigation ul ul li.focus>ul {
        left: 0 !important;
    }

    .is-sticky .navbar {
        max-height: 400px;
        overflow-y: scroll;
    }

    .top-header .main-navigation {
        display: none;
    }

    .articlesListing .article .box {
        padding: 15px;
    }

    .aboutAuthor .imageWrap {
        text-align: center;
    }

    .aboutAuthor .infos {
        text-align: center;
    }

    .ol-slider .owl-nav {
        left: 0;
        right: 0;
    }

    .ol-slider .ol-caption {
        max-width: 100%;
    }

    .ol-caption .entry-meta.info {
        margin: 15px;
    }

    .owl-carousel {
        margin-top: 0;
    }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 480px) {

    /**
     * Post List
    */
    [data-layout*="gridcol2"] .blog-grid-style,
    [data-layout*="masonry2"] .article {
        width: 100%;
    }
}

/**
 * Custom Widget Area
*/
.craftblog_relatedpost_widget .left_box img {
    transition: all ease 0.6s;
    -webkit-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
}

.craftblog_relatedpost_widget .left_box img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.craftblog-social-wrapper .sociallink ul li a,
.craftblog_aboutus .sociallink ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.sociallink ul li a {
    background: #e74c3c;
    color: #fff;
    border: 1px solid #e74c3c;
}

.sociallink ul li a:focus,
.sociallink ul li a:hover {
    background: transparent;
    color: #e74c3c;
    border: 1px solid #e74c3c;
}

/*--------------------------------------------------------------
 ## Author Widget
--------------------------------------------------------------*/
.author_widget {
    text-align: center;
    padding: 0 10px;
}

.author_widget .author_thumb img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #eee;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    margin: 0 auto
}

.author_widget .author_name {
    margin: 20px 0
}

.footer-widgets .author_name,
.footer-widgets .author_desc {
    color: #fff;
}

.craftblog-aboutus-wrap .sociallink,
.craftblog-social-wrapper .sociallink {
    float: none;
    text-align: center;
}

.widget-area .craftblog-social-wrapper ul li,
.widget-area .craftblog-aboutus-wrap ul li {
    border-bottom: 0;
}


/*--------------------------------------------------------------
 ## Recent & Random Posts
--------------------------------------------------------------*/
.craftblog_relatedpost_widget {
    padding: 0 10px;
}

.craftblog_relatedpost_widget .boxes_holder {
    display: inline-block;
    margin-bottom: 5px;
}

.craftblog_relatedpost_widget .left_box {
    float: left;
    width: 40%;
    overflow: hidden;
}

.craftblog_relatedpost_widget .right_box {
    float: left;
    width: 60%;
    padding-left: 15px
}

.craftblog_relatedpost_widget .post_title h2 {
    font-size: 18px;
    line-height: 1.3;
    margin-top: 0;
}



/*--------------------------------------------------------------
 ## Tabs Widget 
--------------------------------------------------------------*/
ul.craftblog-tab-nav {
    overflow: hidden;
    margin-bottom: 15px !important;
    background: #ECF0F1;
    padding: 0;
}

.widget-area ul.craftblog-tab-nav li {
    padding-bottom: 0;
}

.footer-widgets ul.craftblog-tab-nav {
    margin: 0;
}

.widget-area .craftblog_blog_pro_tabbed_block ul li {
    margin: 0;
    padding: 0;
}

li.craftblog-tab {
    float: left;
    list-style: none;
}

.craftblog-tabs-wdt .craftblog-tab-anchor {
    font-size: 15px;
    padding: 10px 15px;
    line-height: 40px;
    display: inline-block;
    font-weight: bold;
    line-height: 1.3;
    text-transform: uppercase;
    color: #333;
}

.craftblog-tabs-wdt .craftblog-tab-anchor:focus {
    outline: none;
}

.craftblog-tabs-wdt .craftblog-tab-anchor:hover {
    opacity: 0.9;
}

.craftblog-tab-nav .ui-tabs-active {
    border-bottom: 2px solid #e74c3c;
    outline: 0;
}

.craftblog-tabs-wdt #craftblog-comments,
.craftblog-tabs-wdt #craftblog-tags {
    display: none;
}

#craftblog-comments,
#craftblog-tags {
    padding: 0 15px 15px;
}

.craftblog-comment {
    overflow: hidden;
    margin: 0 0 1em;
}

.craftblog-comment-author,
.xmag_comment_post {
    font-weight: bold;
}

.craftblog-comment {
    font-size: 14px;
    margin-top: 5px;
}

.craftblog_avatar {
    float: left;
    margin: 0 1em 0 0;
}

.craftblog_avatar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


#craftblog-tags a {
    background: #41393b none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
    margin-right: 3px;
    padding: 5px 15px;
}

#craftblog-tags a:hover {
    background: #e74c3c;
}


@media (max-width: 768px) {
    .craftblog_relatedpost_widget .left_box {
        width: 25%;
    }

    .entry-meta.info>div,
    .entry-meta.info>span {
        float: left;
        margin-right: 5px;
    }
}

@media (max-width: 600px) {
    .ol-fullslider .ol-caption {
        top: 0;
    }

    .craftblog_relatedpost_widget .left_box {
        width: 40%;
    }
}

.single .articlesListing .type-post .entry-content a {
    text-decoration: underline;
}