/**
 * Customizer Title
*/
.customize-control-title {
    color: #0073aa;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 10px 10px 11px 14px;
    line-height: 21px;
    background: #FFF;
    margin: 0 -12px 0;
    border-left: 4px solid #0073aa;
    margin-bottom: 15px;
}

/**
 * Radio Image Control
*/
.customize-control-radio-image .ui-button {
    margin:        0;
    border-radius: 0;
    border:        none;
    background:    transparent;
}

.customize-control-radio-image .ui-button-text { padding: 0; }

.customize-control-radio-image img {
    box-sizing: border-box;
    max-width:  100%;
    height:     auto;
    padding:    1px;
    border:     2px solid transparent;
}

.customize-control-radio-image img:hover,
.customize-control-radio-image img:focus {
    border-color: #00a0d2;
}

.customize-control-radio-image .ui-state-active img {
    border-color: #00a0d2;
}

/**
 * Switch Control
*/
.onoffswitch {
    position: relative;
    width: 140px;
    margin-right: 15px;
    overflow: hidden;
    cursor: pointer;
}

.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin .3s ease-in 0s;
    -webkit-transition: margin .3s ease-in 0s;
    -o-transition: margin .3s ease-in 0s;
    transition: margin .3s ease-in 0s
}

.onoffswitch-inner > div {
    float: left;
    position: relative;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.onoffswitch-inner .onoffswitch-active {
    background-color: #d4d4d4;
    color: #FFF
}

.onoffswitch-inner .onoffswitch-inactive {
    background-color: #d4d4d4;
    color: #FFF;
    text-align: right
}

.onoffswitch-switch {
    width: 70px;
    margin: 0;
    text-align: center;
    border: 0 solid #999;
    border-radius: 0;
    position: absolute;
    top: 0;
    bottom: 0
}

.onoffswitch-active .onoffswitch-switch {
    background: #0073aa;
    left: 0
}

.onoffswitch-inactive .onoffswitch-switch {
    background: #7D7D7D;
    right: 0
}
.switch-on .onoffswitch-inner {
    margin-left: 0
}

/**
 * Repeater field
*/
.craft-blog-clearfix:after,
.craft-blog-clearfix:before{
    content: "";
    display: table;
}

.craft-blog-clearfix:after{
    clear: both;
}

.craft-blog-repeater-field-control{
    background: #FFF;
    margin-bottom: 12px;
    display: block;
}

.craft-blog-repeater-footer{
    margin-top: 15px;
    text-align: right;
}

.craft-blog-repeater-field-control:first-child .craft-blog-repeater-footer{
    display: none;
}

.craft-blog-repeater-field-title{
    padding: 13px 15px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 1em;
    border: 1px solid #e5e5e5;
    cursor: move;
    position: relative;
    border-bottom: 0;
}

.craft-blog-repeater-field-title:after {
    content: "\f142";
    font: 400 20px/1 dashicons;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1px 2px 1px 0;
    margin-top: 10px;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.craft-blog-repeater-field-control.expanded .craft-blog-repeater-field-title:after{
    content: "\f140";
}

.craft-blog-repeater-fields{
    padding: 0 10px 10px;
    border-top: none;
    line-height: 16px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    display: none;
}

.craft-blog-repeater-fields .customize-control-title{
    margin-top: 10px;
}

.craft-blog-repeater-field-control.expanded .craft-blog-repeater-fields{
    display: block;
}

.craft-blog-reapeater-add-control-field {
    float: right;
}

.craft-blog-reapeater-add-add-control-field:before {
    content: "\f132";
    display: inline-block;
    position: relative;
    left: -2px;
    top: -1px;
    font: 400 18px/1 dashicons;
    vertical-align: middle;
}

.craft-blog-repeater-type-icon{
    overflow: hidden;
}

.craft-blog-repeater-selected-icon{
    background: #F6F6F6;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #EEE;
    position: relative;
    margin-right: 45px;
    cursor: pointer;
    font-size: 28px;
    display: flex;
    justify-content: center;
}
.craft-blog-repeater-selected-icon i{
    align-self: center;
}

.craft-blog-repeater-selected-icon span{
    position: absolute;
    background: #F6F6F6;
    right: -45px;
    top: -1px;
    height: 45px;
    width: 45px;
    border: 1px solid #EEE;
    font-size: 20px;
    display: flex;
}
.craft-blog-repeater-selected-icon span i{
    width: 100%;
    align-self: center;
}

.craft-blog-repeater-icon-list{
    height: 215px;
    overflow-y: scroll;
    font-size: 18px;
    border: 1px solid #EEE;
    border-right: 0;
    border-top: 0;
    padding-bottom: 4%;
    display: none;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.craft-blog-repeater-icon-list li{
    float: left;
    margin: 4% 3% 0;
    height: 40px;
    width: 16%;
    text-align: center;
    line-height: 40px;
    border: 1px solid #EEE;
}

.craft-blog-repeater-icon-list li:hover{
    background: #333;
    border: 1px solid #333;
    color: #FFF;
}

.craft-blog-repeater-icon-list li.icon-active{
    background: #0073aa;
    border: 1px solid #0073aa;
    color: #FFF;
}

/**
 * Customizer Section Dashicons Icons
*/
.customize-pane-parent .control-section .accordion-section-title:before{
    font-family: dashicons;
    content: "\f111";
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#accordion-panel-craft_blog_general_settings_panel .accordion-section-title:before{
    content: "\f108";
}

#accordion-section-header_image .accordion-section-title:before{
    content: "\f128";
}

#accordion-section-craft_blog_main_slider_section .accordion-section-title:before{
    content: "\f161";
}

#accordion-panel-craft_blog_header_settings_panel .accordion-section-title:before{
    content: "\f175";
}

#accordion-panel-craft_blog_design_settings_panel .accordion-section-title:before{
    content: "\f547";
}

#accordion-section-craft_blog_social_icons_section .accordion-section-title:before{
    content: "\f237";
}

#accordion-section-craft_blog_footer_section .accordion-section-title:before{
    content: "\f212";
}

#accordion-section-colors .accordion-section-title:before {
    content: "\f226";
}

#accordion-panel-nav_menus .accordion-section-title:before{
    content: "\f333";
}

#accordion-panel-widgets .accordion-section-title:before{
    content: "\f116";
}

#accordion-section-custom_css .accordion-section-title:before{
    content: "\f499";
}

#accordion-panel-craft_blog_header_settings_panel .accordion-section-title:before{
    content: "\f175";
}

#accordion-section-craft_blog_main_nav_section .accordion-section-title:before{
    content: "\f214";
}

#accordion-section-craft_blog_pro_top_header_section .accordion-section-title:before{
   content: "\f212";
}

#accordion-section-craft_blog_post_meta_general_settings .accordion-section-title:before{
   content: "\f209";
}

#accordion-section-craft_blog_features_promo_section .accordion-section-title:before{
   content: "\f533";
}

/**
 * Pro Link
*/
#accordion-section-craft_blog_pro h3 {
    color: #fff !important;
    background-color: #008EC2 !important;
}

#accordion-section-craft_blog_pro .accordion-section-title:before {
    content: "";
}

#customize-control-craft_blog_pro_options h3 span {
    color: red;
    font-weight: bold;
}

#customize-control-craft_blog_pro_options a.button-primary {
    text-align: center;
}

li[id*="pro_version"] {
    position: relative;
    padding: 0 !important;
    margin-top: 30px;
    background: transparent;
}

li[id*="pro_version"] .dashicons {
    float: left;
    font-size: 20px;
    margin-top: -1px;
    margin-right: 5px;
}

li[id*="pro_version"] a {
    color: #0085ba;
    text-decoration: none;
    outline: none !important;
}




